<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <filter>
        <filter-name>UTF8Filter</filter-name>
        <filter-class>UTF8Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UTF8Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>imageResize</servlet-name>
        <servlet-class>imageLines.ImageResize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transcriptionPDF</servlet-name>
        <servlet-class>textdisplay.transcriptionPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processImage</servlet-name>
        <servlet-class>imageLines.ProcessImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pageImage</servlet-name>
        <servlet-class>imageLines.PageImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateLine</servlet-name>
        <servlet-class>UpdateLine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>textUpload</servlet-name>
        <servlet-class>textUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadTextfile</servlet-name>
        <servlet-class>UploadTextfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sequence</servlet-name>
        <servlet-class>servlets.sequence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transcription</servlet-name>
        <servlet-class>servlets.transcription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manuscriptListings</servlet-name>
        <servlet-class>servlets.manuscriptListings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>repoLister</servlet-name>
        <servlet-class>servlets.repoLister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LineRecognizer</servlet-name>
        <servlet-class>servlets.LineRecognizer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateLinePositions</servlet-name>
        <servlet-class>servlets.updateLinePositions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transcriptionText</servlet-name>
        <servlet-class>servlets.transcriptionText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>binarizedImage</servlet-name>
        <servlet-class>imageLines.binarizedImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validate</servlet-name>
        <servlet-class>servlets.validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>export</servlet-name>
        <servlet-class>export</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tagTracker</servlet-name>
        <servlet-class>servlets.tagTracker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>linePositions</servlet-name>
        <servlet-class>servlets.linePositions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>parseImage</servlet-name>
        <servlet-class>servlets.parseImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTag</servlet-name>
        <servlet-class>servlets.addTag</servlet-class>
    </servlet>
    <servlet>
        <description>Update all lines in a column</description>
        <servlet-name>batchUpdateLinePositions</servlet-name>
        <servlet-class>servlets.batchUpdateLinePositions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addHotkey</servlet-name>
        <servlet-class>servlets.addHotkey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRemainingText</servlet-name>
        <servlet-class>servlets.updateRemainingText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fixColumns</servlet-name>
        <servlet-class>servlets.fixColumns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>heartbeat</servlet-name>
        <servlet-class>servlets.heartbeat</servlet-class>
    </servlet>
    <servlet>
        <description>Handles annotation update, creation, and deletion</description>
        <servlet-name>annotation</servlet-name>
        <servlet-class>servlets.annotation</servlet-class>
    </servlet>
    <servlet>
        <description>Upload a custom header to override project metadata during exports.</description>
        <servlet-name>uploadHeader</servlet-name>
        <servlet-class>servlets.uploadHeader</servlet-class>
    </servlet>
    <servlet>
        <description>user uploaded images</description>
        <servlet-name>UploadImages</servlet-name>
        <servlet-class>ImageUpload.UploadImages</servlet-class>
    </servlet>
    <servlet>
        <description>progress bar uploaded images</description>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>ImageUpload.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>characterImage</servlet-name>
        <servlet-class>characterImage</servlet-class>
    </servlet>
    <servlet>
        <description>proxy used in sciat annotation</description>
        <servlet-name>proxy</servlet-name>
        <servlet-class>servlets.proxy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WitnessServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.WitnessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WitnessesServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.WitnessesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectsServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.ProjectsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManuscriptsServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.ManuscriptsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>edu.slu.tpen.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>imageResize</servlet-name>
        <url-pattern>/imageResize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transcriptionPDF</servlet-name>
        <url-pattern>/transcriptionPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processImage</servlet-name>
        <url-pattern>/processImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pageImage</servlet-name>
        <url-pattern>/pageImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateLine</servlet-name>
        <url-pattern>/updateLine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>textUpload</servlet-name>
        <url-pattern>/textUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadTextfile</servlet-name>
        <url-pattern>/uploadTextfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sequence</servlet-name>
        <url-pattern>/sequence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transcription</servlet-name>
        <url-pattern>/transcription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manuscriptListings</servlet-name>
        <url-pattern>/manuscriptListings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>repoLister</servlet-name>
        <url-pattern>/repoLister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LineRecognizer</servlet-name>
        <url-pattern>/LineRecognizer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateLinePositions</servlet-name>
        <url-pattern>/updateLinePositions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transcriptionText</servlet-name>
        <url-pattern>/transcriptionText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>binarizedImage</servlet-name>
        <url-pattern>/binarizedImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>export</servlet-name>
        <url-pattern>/export</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tagTracker</servlet-name>
        <url-pattern>/tagTracker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>linePositions</servlet-name>
        <url-pattern>/linePositions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>parseImage</servlet-name>
        <url-pattern>/parseImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTag</servlet-name>
        <url-pattern>/addTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>batchUpdateLinePositions</servlet-name>
        <url-pattern>/batchUpdateLinePositions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addHotkey</servlet-name>
        <url-pattern>/addHotkey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRemainingText</servlet-name>
        <url-pattern>/updateRemainingText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fixColumns</servlet-name>
        <url-pattern>/fixColumns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>heartbeat</servlet-name>
        <url-pattern>/heartbeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>annotation</servlet-name>
        <url-pattern>/annotation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadHeader</servlet-name>
        <url-pattern>/uploadHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImages</servlet-name>
        <url-pattern>/UploadImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>characterImage</servlet-name>
        <url-pattern>/characterImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proxy</servlet-name>
        <url-pattern>/proxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WitnessServlet</servlet-name>
        <url-pattern>/witness/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WitnessesServlet</servlet-name>
        <url-pattern>/witnesses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectsServlet</servlet-name>
        <url-pattern>/projects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManuscriptsServlet</servlet-name>
        <url-pattern>/manuscripts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>3000</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
